<%= javascript_include_tag("tdl/base") %>
<%= javascript_include_tag("tdl/string") %>
<%= javascript_include_tag("tdl/log") %>
<%= javascript_include_tag("tdl/misc") %>
<%= javascript_include_tag("tdl/webgl") %>
<%= javascript_include_tag("tdl/buffers") %>
<%= javascript_include_tag("tdl/fast") %>
<%= javascript_include_tag("tdl/programs") %>
<%= javascript_include_tag("tdl/models") %>
<%= javascript_include_tag("tdl/math") %>
<%= javascript_include_tag("tdl/textures") %>
<%= javascript_include_tag("tdl/primitives") %>
<%= javascript_include_tag("renderer") %>
<%= javascript_include_tag("test") %>

<div id="main">
<canvas id="canvas" width="800" height="600"></canvas>
</div>

<!-- Scripts go here -->
<!-- Shaders -->
<script id="vertex-shader" type="x-shader/x-vertex">
	attribute vec3 position;
	attribute vec3 normal;

	uniform mat4 transform;
	uniform mat4 view;
	uniform mat4 projection;
	uniform vec3 color;
	varying vec3 v_color;

	void main() {
		gl_Position = projection * view * transform * vec4(position, 1);
		v_color = color;
	}
</script>
<script id="fragment-shader" type="x-shader/x-fragment">
	precision mediump float;

	varying vec3 v_color;
	
	void main() {
		gl_FragColor = vec4(v_color, 1.0);
	}
</script>