<h1><%= "#{@user.first_name} #{@user.last_name}'s Profile" %></h1>
User ID: <%= @user.id %><br />
First Name: <%= @user.first_name %><br />
Last Name: <%= @user.last_name %><br />
Email: <%= @user.email %><br />
