<!DOCTYPE html>
<html>
<head>
  <title>MeGL - &#47;dev&#47;null - <%= yield_for(:title, 'Group 1') %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <%= link_to "MeGL", :root, :class => "brand" %>
        <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Home", :root %></li>
              <!-- <li><%= link_to "Technical Evaluation", :tech_eval_index %></li>
              <li><%= link_to "About Us", :about_index %></li> -->
            </ul>
        </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="span9">
        <%= yield %>
    </div>
</div>
</body>
</html>
